body{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(14, 14, 14);
}

#container{
  margin : 10px auto;
  background-color: #FCFCFC;
  height: 700px;
  width : 785px;
  border-radius: 53px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s ease all;
}
#container.dark{
  background-color: #181e2e;
}
.logo {
  height: 180px;
  padding: 20px;
  margin-top: -50px;
}
.preg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
#start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  width:242px;
  height:61px;
  border-radius: 51px;
  cursor: pointer;
  color : #FCFCFC;
  background-color: #08C08E;
  border: none;
  outline: none;
  font-size: 22px;
}
#start:hover{
  border: 3px solid white;
  color : white;
}


#qImg{
  width : 674px;
  height : 400px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
}
#qImg img{
  width : 674px;
  height : 400px;
}

#question{
  width: 600px;
  height : 52px;
  text-align: center;
  vertical-align: center;
  margin-top: 0px;
  padding: 10px;
}
.question.active{
  color: #FCFCFC;
}
#question p{
  margin-top: -30px;
  padding : 20px;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  vertical-align: center;
}

#choices{
  display: flex;
  width : 750px;
  align-items: center;
  justify-content: center;
  padding : 25px 10px
}
.choice{
  display: flex;
  align-items: center;
  justify-content: center;
  width : 195px;
  height: 44px;
  text-align: center;
  border-radius: 51px;
  cursor: pointer;
  margin: 0 15px;
  background-color: #08C08E;
  border: 3px solid #08C08E;
  color: #FCFCFC;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
}
.choice:hover{
  border: 3px solid white;
}
.texto{
  width: 364px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2B2B2B;
  line-height: 33px;
  padding-bottom: 20px;
}
.texto.active{
  color: #FCFCFC;
  transition: .5s ease all;
}

#timer{
  position: absolute;
  left: 0;
  height : 100px;
  width : 200px;
  bottom : -20px;
  left: -43px;
  text-align: center;
}
#counter{
  font-size: 37px;
  font-weight: bold;
}
.counter.active{
  color: #FCFCFC;
}
#btimeGauge{
  width : 150px;
  height : 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left : 25px;
}
#timeGauge{
  height : 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top : -10px;
  margin-left : 25px;
}
#progress{
  width : 340px;
  position: absolute;
  bottom : 30px;
  right : 30px;
  padding:5px;
  text-align: right;
}
#fin{
  width : 340px;
  position: absolute;
  bottom: 30px;
  padding:5px;
}
.prog{
  width : 14px;
  height : 14px;
  border: 1px solid #08C08E;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}
.prog.active{
  width : 14px;
  height : 14px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}

.scoreContainer{
  margin: 50px 0 130px 0;
  background-color: #FCFCFC;
  height: 250px;
  width : 530px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;

}
.scoreContainer.active{
  background-color: #181e2e;
}
#scoreContainer img{
  height: 180px;
  margin-top: 20px;
}
.textoFinal{
  display: flex;
  padding: 10px;
  margin: 20px 0;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  color: #08C08E;
}
.textoFinal.active{
  color: #FCFCFC;
}

@media (max-width: 425px) {
  #container{
    width : 360px;
    margin: 0;
    top: 0;
  }
  .preg{
    margin-top: -30px;
  }
  .texto{
    width: 320px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2B2B2B;
    line-height: 33px;
    padding: 0 5px 20px 5px;
  }
  #question{
    width: 364px;
    height : 62px;
    padding: 10px;
  }
  #question p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
  #qImg{
    width : 360px;
    height : 230px;
  }
  #qImg img{
    width : 360px;
    height : 230px;
  }
  #choices{
    flex-direction: column;
    width : 360px;
    padding : 15px 0
  }
  .choice{
    margin: 5px 0;
    font-size: 13px;
    padding: 10 10px;
  }
  #timer{
    position: relative;
    left: 0;
    right: 0;
    height : 50px;
    bottom : -20px;
    text-align: center;
  }
  #scoreContainer{
    margin: 50px 0 130px 0;
    width : 360px;
  }
  #progress{
    width : 340px;
    position: relative;
    bottom : -20px;
    left: 0;
    right : 0;
    text-align: center;
  }
}

.switch{
  margin-top: 90px;
  background: #08C08E;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch.active{
  background: #0ddda5;
  color: black;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
#sun{
  color: white;
  transition: 1s ease all;
}
#sun.no{
  color: black;
}
#moon{
  color: black;
  transition: 1s ease all;
}
#moon.no{
  color: white;
}